<!DOCTYPE html>
<html lang="es">
  <%- include("partials/head")%>
  <body>
    <%- include("partials/navbar") %> <%- include("partials/social") %>

    <div class="container cajadp">
      <section class="detalleP">
        <div class="row">
          <div class="titulo col-12">
            <h3>
              Nombre del producto
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="imagen col-12 col-md-6 col-lg-4">
            <figure class="imagen ">
              <img class=" col-12" src="/images/guitarra-azul-fender.jpeg" alt="" />
            </figure>
            <p class="color col-12 col-md-6 col-lg-4">color</p>
          </div>
        
       
          <article class="principal col-12 col-md-6 col-lg-8">
            <div class="descripcion">
              <h3>Titulo descriptivo</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
                similique harum sapiente accusantium tempore perferendis.
                Praesentium magni animi voluptas error? Quis hic atque ipsum sit
                vitae consectetur iure eos quos!
              </p>
            </div>
            <div class="opciones col-12 ">
              <h5>Color</h5>
              <div class="bColors">
                <button>Color1</button>
                <button>Color2</button>
              </div>
              <h5>Miscelanio</h5>
              <div class="bMisc">
                <button>Color1</button>
                <button>Color2</button>
              </div>
              <h5 class="precio col-12">$5600</h5>
              <div class="botones bBuy&fav">
                <button class="col-6">Color1</button>
                <button class="col-6">Color2</button>
              </div>
              <div class="icons row">
                <i class="fas fa-truck col-3"></i>
                <i class="fas fa-briefcase col-3"></i>
                <i class="fas fa-wrench col-3"></i>
                <i class="fas fa-shield-alt col-3"></i>
              </div>
            </div>
          </article>
        </div>
   
          <div class="row">
            <div class="col-12">
            <article class="specs col-12 ">
              <div>
                <h3 class="specs"> Especificaciones</h3>
              </div>
              <div class="accordion" id="accordionExample">
                <div class="card col-12">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-block"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <i class="fas fa-plus"> Especificaciones</i>
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="especificaciones col-12">
                        <div></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-block collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <i class="fas fa-plus"> Ver Mas</i>
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div class="verMas"></div>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </section>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
