<header class="container-fluid">
  <!--caja contenedora de boostrap-->
  
    <!--barra de navegación-->
    <nav class="row navbar-expand-md">
    
        <!--caja que contiene el logotipo-->
        <div class="col-12 col-md-1 col-lg-4">
          <a href="/"><img id="logo" src="/images/logoHeader.png" alt="logo" /></a>
        </div>
    
  
      <!--boton para que desplegar el menu en movil-->
      <button
        class="navbar-toggler burger"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
      <i class="fas fa-bars"></i>
      </button>

      <!--barra de menu que aparece a partir de la vesión de tablet-->
      <div
        class="links collapse navbar-collapse col-6 col-md-6 col-lg-4"
        id="navbarSupportedContent">
        <!--barra de menu -->
        <ul class="menu navbar-nav mr-auto">
          <li>
            <a href="/products ">Productos   </a>
          </li>
          <li>
            <a href=" ">Oportunidades</a>
          </li>
          <li>
            <a href=" /contact">Contacto</a>
          </li>
        </ul>
      </div>
      <!--barra de menu: login, Busqueda y Carrito-->
        <!--User-->

      <div class="dropdown col-5 col-md-2 col-lg-2">
        <button
          class="btn  dropdown-toggle "
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Usuario
          <i class="far fa-user-circle"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Ingresa</a>
          <a class="dropdown-item" href="/register">Registrate</a>
        </div>
      </div>
      <!--busqueda-->
    

      <div class="dropdown col-3 col-md-1 col-1">
        <button
          class="btn search dropdown-toggle "
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        <i class="fas fa-search"></i>
        
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <input
            type="search"
            placeholder="Search.."
            id="myInput"
            onkeyup="filterFunction()"
          />
        </div>
      </div>
        <!--Carrito-->
      <div class="cart col-2 col-md-2 col-lg-1">
          <button type="button" class="btn search">
            <i class="carrito fas fa-shopping-cart"></i>
          </button>
      </div>
  
      <!--finaliza caja contenedora del menu-->
    </nav>
  

  <!--finaliza caja contenedora bootstrap-->
</header>


></script>
