.login{
    
    margin-top: 20vh;
}


.login .main-head{
    height: 150px;
    background: #FFF;
   
}

.login .sidenav {
    height: 100%;
    background-color: #045757;
    overflow-x: hidden;
    padding-top: 20px;
}


.login .main {
    padding: 0px 10px;
}



@media screen and (max-width: 450px) {
    .login.login-form{
        margin-top: 10%;
    }

    .login .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .login .main{
        margin-left: 40%; 
    }

    .login.sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login.login-form{
        margin-top: 80%;
    }

    .login.register-form{
        margin-top: 20%;
    }
}


.login.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login.login-main-text h2{
    font-weight: 300;
}

.login.btn-black{
    background-color: #000 !important;
    color: #fff;
}