.login{
    
    margin-top: 2vh;
    margin-bottom: 2vh;
}


.login .main-head{
    height: 150px;
    background: #e4e4e4;
   
}

.login  {
    
    background-color: #e4e4e4;
    opacity: 0.8;
    border-radius: 5px;
   
}


.login .main label {
    text-transform: uppercase ;

}



