/*custom font*/
@import url(https://fonts.googleapis.com/css2?family=Convergence&display=swap);

html {
  /*background*/
  background-color: #222222;
}

/*form styles*/

.registro{
  margin: 10vh 0;
  justify-content: center; 
  
}

.Usuario,
.registro .Datos,
.registro .Tarjeta {
  background: #e4e4e4;
 
  border-radius: 3px;

  padding: 20px 30px;
  box-sizing: border-box;
  align-content: center;
  width: 80%;
  margin: 0 10%;
}
/*inputs*/
.registro .Usuario,
.registro .Datos,
.registro .Tarjetainput,
.registro .Usuario,
.registro .Datos,
.registro .Tarjeta textarea {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #045757;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: #045757;
  font-size: 12px;
}

/*boton*/
.registro .Tarjeta .btn {
  background-color: #045757;
  color: #e4e4e4;
}

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #045757;
  margin-bottom: 10px;
}
/*boton*/

.registro .btEnviar {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row-reverse;
}


